// =========================================================================
// Helpers - One off module independant classes
// =========================================================================

.h-central-intro {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}
