// =========================================================================
// Utilities
// =========================================================================

.light-bg {
	background-color: $white;
}

.dark-bg {
	background-color: $black;
}

.light-text {
	color: $white;
}

.align-central {
	text-align: center;
}

.border {
	border-top: 1px solid $black;
}

