// =========================================================================
// Variables
// =========================================================================

// =========================================================================
// Colours
// =========================================================================

$white: #FFF;
$black: #000;

// Colour
$color__primary: #000;

// Colour
$color__secondary: #000;

// Colour
$color__tertiary: #000;

// Danger
$color__danger: #EF0B2E;

// Warning
$color__warning: #FFB300;

// Success
$color__success: #87C80A;

// =========================================================================
// Vars
// =========================================================================

$radius: 2px;
$unit20: 2rem;

$g-spacing-base: 60px !default;
$g-spacing-xxxx-decrease: $g-spacing-base / 6;
$g-spacing-xxx-decrease: $g-spacing-base / 4;
$g-spacing-xx-decrease: $g-spacing-base / 3;
$g-spacing-x-decrease: $g-spacing-base / 2;
$g-spacing-decrease: $g-spacing-base / 1.5;
$g-spacing-increase: $g-spacing-base * 1.5;
$g-spacing-x-increase: $g-spacing-base * 2;
$g-spacing-xx-increase: $g-spacing-base * 3;
$g-spacing-xxx-increase: $g-spacing-base * 5;
$g-spacing-xxxx-increase: $g-spacing-base * 6;

// =========================================================================
// Typeface Rules
// =========================================================================

$baseFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$titleFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

// =========================================================================
// Font Face
// =========================================================================

// Normal
@font-face {
    font-family: "Custom Font";
    font-style: normal;
    font-weight: 400;
    src: url(custom-font.woff2) format("woff2");
}

// Bold
@font-face {
    font-family: "Custom Font";
    font-style: normal;
    font-weight: 800;
    src: url(custom-font.woff2) format("woff2");
}

// Italic
@font-face {
    font-family: "Custom Font";
    font-style: italic;
    font-weight: 400;
    src: url(custom-font.woff2) format("woff2");
}

// Italic and Bold
@font-face {
    font-family: "Custom Font";
    font-style: italic;
    font-weight: 800;
    src: url(custom-font.woff2) format("woff2");
}

// This ensures we dont download what is not needed
