// =========================================================================
// Variables
// =========================================================================

// =========================================================================
// Colours
// =========================================================================

$white: #FFF;
$black: #000;

// Colour
$color__primary: #000;

// Colour
$color__secondary: #000;

// Colour
$color__tertiary: #000;

// Danger
$color__danger: #EF0B2E;

// Warning
$color__warning: #FFB300;

// Success
$color__success: #87C80A;

// =========================================================================
// Vars
// =========================================================================

$radius: 2px;

// =========================================================================
// Typeface Rules
// =========================================================================

$baseFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titleFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// =========================================================================
// Font Face
// =========================================================================


