// =========================================================================
// Variables
// =========================================================================

// =========================================================================
// Colours
// =========================================================================

$white: #FDFDFD;
$black: #333;

// Neutral tones - Shades of Gray
//$color__neutral--xxxxdark: #;
//$color__neutral--xxxdark: #;
//$color__neutral--xxdark: #;
//$color__neutral--xdark: #;
//$color__neutral--dark: #;
//$color__neutral--xxxxmid: #;
//$color__neutral--xxxmid: #;
//$color__neutral--xxmid: #;
//$color__neutral--xmid: #;
//$color__neutral--mid: #;
//$color__neutral--light: #;
//$color__neutral--xxlight: #;
//$color__neutral--xxxlight: #;

// Colour
//$color__primary: #;

// Colour
//$color__secondary: #;

// =========================================================================
// Typeface Rules
// =========================================================================

$baseFont: Georgia, Times, "Times New Roman", serif;
$titleFont: "Trebuchet MS", Arial, sans-serif;
