// =========================================================================
// Base - Defaults and Content
// =========================================================================

html {
    font-size: 1em;
    line-height: 1.5;
    overflow-y: scroll;
    overflow-x: hidden; // Use when using content off screen
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $baseFont;
    font-weight: 300;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
	max-width: 100%;
    height: auto;
}

a {
	text-decoration: none;
	@include transition(all, 0.2s, linear);
	@include breakpoint(small) {
		@include no-transition(0);
	}
}

a:visited {

}

a:hover {
	outline: none;
}

a:active {
	outline: none;
}

a[href^=tel] {
	text-decoration: inherit;
	color: inherit;
}

::selection {
	color: $white;
	background: $black;
}

::-moz-selection {
	color: $white;
	background: $black;
}
