// =========================================================================
// Base - Defaults and Content
// =========================================================================

*, *:before, *:after {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: $baseFont;
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 300;
	font-smoothing: antialiased;
}

img {
	max-width: 100%;
    height: auto;
}

a {
	text-decoration: none;
	@include transition(all, 0.2s, linear);
	@include breakpoint(small) {
		@include no-transition(0);
	}
}

a:visited {
	color: darken($white, 10%);
}

a:hover {
	outline: none;
}

a:active {
	outline: none;
}

a[href^=tel] {
	text-decoration: inherit;
	color: inherit;
}

::selection {
	color: $white;
	background: $black;
}

::-moz-selection {
	color: $white;
	background: $black;
}
