// =========================================================================
// Forms
// =========================================================================

legend {
    width: 100%;
    display: table;
}

fieldset {
    border: 0;
    padding: .01em 0 0 0;
    margin: 0;
    min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

.theme-form label {
    width: 100%;
}

.theme-form input[type=text],
.theme-form input[type=url],
.theme-form input[type=tel],
.theme-form input[type=number],
.theme-form input[type=email],
.theme-form input[type=password],
.theme-form input[type=date],
.theme-form input[type=search],
.theme-form textarea {

    box-shadow: none;
    height: 45px;
    line-height: 45px;
    margin: 0 2% 0 0;
    padding: 0 2%;
    cursor: pointer;
    font-weight: 300;
    vertical-align: middle;
    @include x-rem(font-size, 14px);

    @include state() {
        border: 2px solid $black;
    }

}

.theme-form textarea {
    @include x-rem(height, 195px);
    resize: vertical;
}

// =========================================================================
// Form Texts
// =========================================================================

.theme-form .success {

    background: $color__success;
    color: $white;

    a {
        color: $white;
    }

    ul {
        @include list();
    }

}

.theme-form .error {

    background: $color__danger;
    color: $white;

    a {
        color: $white;
    }

    ul {
        @include list();
    }

}

// =========================================================================
// Placeholders
// =========================================================================

::-webkit-input-placeholder {
    color: $black;
}

:-moz-placeholder {
    color: $black;
}

::-moz-placeholder {
    color: $black;
}

:-ms-input-placeholder {
    color: $black;
}
