// =========================================================================
// Tables
// =========================================================================

.main-content table {

    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;

    @include breakpoint(767) {
        table-layout: auto;
    }

    thead th,
    thead tr,
    thead td,
    tfoot tr,
    tfoot td,
    tfoot th {
        background: $white;
        color: $black;
        border: 0;
    }

    thead tr {
    	border: 1px solid $black;
    }

    tbody tr {

        border: 1px solid $black;
        @include transition(all, 0.2s, linear);

        td {
            border: 0;
        }

    }

    a {
        color: $black;
        text-decoration: underline;
        @include state() {
            text-decoration: none;
        }
    }

    tr:nth-child(2n+2) {
        background: darken($white, 50%);
    }

}
