// =========================================================================
// Typography - Resets
// =========================================================================

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

address {
    font-style: normal;
}

ul,
ol {
    @include list();
}

.heading-main {
    
}

.heading-sub {
    
}

.heading-page {

}

.heading-banner {

}

.heading-section {

}

.heading-side {

}
