// =========================================================================
// Row
// =========================================================================

.row {
	max-width: 1520px;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 2%;
	@include clearfix();
}

.row-no-space {

	@include breakpoint(767) {
		padding: 0;
	}

}

// =========================================================================
// Grid Options
// =========================================================================


