// =========================================================================
// Spacers
// =========================================================================

/**
 * Vars
 */
$g-spacing-base: 24px !default;
$g-spacing-x2-small: $g-spacing-base / 6;
$g-spacing-x-small: $g-spacing-base / 4;
$g-spacing-small: $g-spacing-base / 2;
$g-spacing-minor: $g-spacing-base / 1.5;
$g-spacing-slight: $g-spacing-base * 1.5;
$g-spacing-medium: $g-spacing-base * 2;
$g-spacing-large: $g-spacing-base * 3;
$g-spacing-x-large: $g-spacing-base * 5;
$g-spacing-x2-large: $g-spacing-base * 6;

/**
 * Base
 */
.h-spacing {
    margin-bottom: rem($g-spacing);
}

/**
 * Decrease from base
 */
.h-spacing-small {
    margin-bottom: rem($g-spacing-small);
}

.h-spacing-x-small {
    margin-bottom: rem($g-spacing-x-small);
}

.h-spacing-2x-small {
    margin-bottom: rem($g-spacing-2x-small);
}

/**
 * Increase from base
 */
.h-spacing-large {
    margin-bottom: rem($g-spacing-large);
}

.h-spacing-x-large {
    margin-bottom: rem($g-spacing-x-large);
}

.h-spacing-2x-large {
    margin-bottom: rem($g-spacing-2x-large);
}

.h-spacing-3x-large {
    margin-bottom: rem($g-spacing-3x-large);
}

.h-spacing-4x-large {
    margin-bottom: rem($g-spacing-4x-large);
}

.h-spacing-5x-large {
    margin-bottom: rem($g-spacing-5x-large);
}

.h-spacing-6x-large {
    margin-bottom: rem($g-spacing-6x-large);
}
